* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

body {
background-color: rgb(0, 0, 0);
}

.container3 {
    border: 1px solid black;
    border-radius: 6px;
    width: 720px;
    height: 1197px;
    margin-left: 312px;
    margin-top: 32px;
    margin-bottom: 30px;
    background-color: rgba(57, 57, 110, 0.8);
    padding: 40px;
}

input {
    margin-top: 3px;
}

.input-name {
    width: 100%;
    height: 32px;
}

.input-email {
    width: 100%;
    height: 32px;
}

.input-age {
    width: 100%;
    height: 32px;
}

select {
    width: 100%;
    height: 32px;
    margin-top: 3px;
}

p {
    margin-top: 17px;
}

.input-radio {
    margin-right: 5px;
    margin-top: 9px;
}

.option {
    margin-right: 3px;
    margin-bottom: 7px;
    margin-top: 12px;
}

textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    margin-top: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
}

@media (min-width:1060px ) and (max-width:1115px) {

    .container3 {
        margin-left: 17.5vw;
    }

}

@media (min-width: 850px) and (max-width: 1059px) {

    .container3 {
        margin-left: 9vw;
    }
}

@media (min-width: 793px) and (max-width: 849px) {

    .container3 {
        margin-left: 4vw;
    }
}

@media (min-width: 700px) and (max-width: 792px){

    .container3 {
        margin-left: 3vw;
        width: 88vw;
    }
}

@media (min-width: 600px) and (max-width: 699px){

    .container3 {
        margin-left: 5vw;
        width: 86vw;
    }
}

@media (min-width: 500px) and (max-width: 599px){

    .container3 {
        margin-left: 5vw;
        width: 86vw;
    }
}

@media (min-width: 400px) and (max-width: 499px){

    header {
        font-size: 25px;
    }

    .container3 {
        margin-left: 5vw;
        width: 86vw;
    }

}

@media (min-width: 300px) and (max-width: 399px){

    header {
        font-size: 18px;
        text-align: center;
    }

    .container3 {
        margin-left: 5vw;
        width: 86vw;
        height: 200vh;
    }

}